.sidebar-div {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202325;
}

.server-bar-border-div {
    width: 32px;
    border-top: 2px solid rgba(255, 255, 255, 0.06);
}

.server-bar-div-li {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36393f;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.server-link, .me-link {
    border-radius: 50%;
}

.server-bar-div {
    margin-left: 24px;
}

.server-bar-div-li, .server-link {
    color: white;
    text-decoration: none;
    // border-radius: 4px;
    // margin-left: 8px;
}

.triangle-left-div {
    position: absolute;
    display:none;
    width: 0; 
    height: 0; 
    left: 64px;
    top: 22px;   
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 

    border-right: 5px solid black; 
}

.server-name-invis {
    position: absolute;
    display: none;
    background-color: black;
    border-radius: 4px;
    left: 69px;
    top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px; 
    font-weight: 700;
}

.home-name-tri-div {
    left: 75px;
    top: 31px;

}

.home-name-div {
    left: 80px;
    top: 21px;
    color: white;
}

/* server hover effect */
.server-bar-div-li:hover {
    border-radius: 16px;
    transition-duration: 0.3s;
}

.server-bar-div-li:hover ~ .server-name-invis, .server-bar-div-li:hover ~ .triangle-left-div {
    display: initial;
}

.server-icon-0:hover {
    background-color: white;
    color: black;
}

.server-icon-1:hover {
    background-color: #e01e5a;
    color: black;
}

.server-icon-2:hover {
    background-color: #36c5f0;
    color: black;
}

.server-icon-3:hover {
    background-color: #ffeb3b;
    color: black;
}

.server-icon-4:hover {
    background-color: #2eb67d;
    color: black;
}

.server-bar-div-li.active-serv {
    border-radius: 16px;
    background-color: white;
    color: black;
}

.server-bar-div-li:hover ~ .invis-me-div, .server-bar-div-li:hover ~ .invis-serv-div {
    background-color: white;
    height: 20px;
    border-radius: 8px;
    animation: createLine .3s;
}

.server-link:active .server-bar-div-li, .me-link:active .server-bar-div-li {
    transform: translateY(2px);
}

/* active server animation */
.invis-serv-div {
    position: absolute;
    width: 8px;
    top: 17px;
    left: -16px;
    // margin-right: 8px;
}

.invis-me-div {
    position: absolute;
    width: 8px;
    top: 25px;
    left: -4px;
}

#go-active-serv-serv {
    background-color: white;
    top: 8px;
    left: -16px;
    height: 40px;
    border-radius: 8px;
    animation: createLine1 .3s;
}

#go-active-serv {
    background-color: white;
    top: 16px;
    height: 40px;
    border-radius: 8px;
    animation: createLine1 .3s;
}

@keyframes createLine {
    from {
    transform: scale(0);
    }
    to {
    transform: scale(1);
    }
}

@keyframes createLine1 {
    from {
    transform: scale3d(1, 0.5, 1);
    }
    to {
    transform: scale3d(1, 1, 1);
    }
}

.server-item-div {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    width: 72px;
    /* justify-content: center; */
}

.server-item-div:first-of-type {
    margin-top: 4px;
}

.me-div {
    height: 64px;
    margin-top: 4px;
    display: flex;
    margin-left: 8px;
    /* justify-content: center; */
    align-items: center;
    width: 72px;
}

.me-div-li {
    background-color: whitesmoke;
    color: black;
}

.server-bar-div-li.active-serv {
    border-radius: 16px;
}