.chatroom-div-container {
    width: calc(100vw - 312px);
}

.chatroom-header-div {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #25262a;
    -webkit-box-shadow: 0 1px 1px 0px #25262a;
    -moz-box-shadow: 0 1px 1px 0px #25262a;
    box-shadow: 0 1px 1px 0px #25262a;
}

.chatroom-title-div {
    display: flex;
    align-items: center;
}

.chat-type-span {
    margin-left: 17px;
    font-size: 24px;
    color: #8e9297;
}

.title-div {
    margin-left: 10px;
}

.message-ul {
    height: calc(100vh - 117px);
    width: calc(100vw - 316px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.message-item-li, .message-item-author-date-div {
    display: flex;
}

.message-item-author-date-div {
    align-items: flex-end;
}

.message-item-li {
    width: calc(100vw - 328px);
    margin-top: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.message-item-icon {
    margin-left: 17px;
    margin-right: 17px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
}

.message-item-time-div {
    margin-left: 8px;
    color: #72767d;
    font-size: 11px;
    margin-bottom: 1px;
}

.message-form-div-container {
    height: 68px;
}

.message-item-li:hover {
    background-color: #33363c;
}

.message-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

.message-ul::-webkit-scrollbar {
    /* color: black; */
    background-color:#303136;
    width: 8px;
    border-radius: 100px;
    /* margin-left: 3px; */
}

.message-ul::-webkit-scrollbar-thumb {
    background-color: #202325;
    border-radius: 100px;
}

.message-ul::-webkit-scrollbar-track-piece {
    height: 5px;
}

.message-form-div-container {
    display: flex;
    justify-content: center;
}

.message-input {
    width: calc(100vw - 378px);
    background-color: #40434b;
    border: none;
    padding-top: 14px;
    padding-left: 30px;
    padding-bottom: 14px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
}

.message-input:focus {
    outline: none;
}