/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 0px;
    margin: 0px;
    background-color :#282829;
    color: white;
}

::selection {
    background: #28282960; 
}
::-moz-selection {
    background: #28282960;
}

h1, h2, h3, h4, div, ul, li, a, input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.home-div {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar-div {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202325;
}

.activebar-div {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3136;
}

.server-bar-border-div {
    width: 32px;
    border-top: 2px solid rgb(255, 255, 255, 0.06);
}

.server-bar-div-li {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36393f;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.server-bar-div-li, .server-link {
    color: white;
    text-decoration: none;
}

.server-bar-div-li:hover {
    border-radius: 16px;
    transition-duration: 0.2s;
}

.server-icon-0:hover {
    background-color: white;
    color: black;
}

.server-icon-1:hover {
    background-color: #e01e5a;
    color: black;
}

.server-icon-2:hover {
    background-color: #36c5f0;
    color: black;
}

.server-icon-3:hover {
    background-color: #ffeb3b;
    color: black;
}

.server-icon-4:hover {
    background-color: #2eb67d;
    color: black;
}

.me-div-li {
    background-color: whitesmoke;
    color: black;
}

.dm-bar-div {
    width: 240px;
}

.dm-header-div, .text-channels-header {
    font-size: 11px;
    margin: 10px;
    margin-left: 16px;
    margin-right: 8px;
    text-transform: uppercase;
}

.search-header-div {
    height: 48px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.search-div {
    background-color: #202225;
    border-radius: 4px;
    padding-right: 60px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #72767D;
}

.dm-border-div {
    width: 240px;
    border-top: 1px solid #25262a;
    /* margin-right: -16px; */
}

.dm-names-li, a.link {
    text-decoration: none;
    color: #8e9297;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

.friends-link {
    margin-top: 8px;
}

.dm-member-div {
    margin-bottom: 2px;
}

.dm-names-li {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.dm-user-avatar-div {
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-num-1 {
    background-color: #e01e5a;
}

.icon-num-2 {
    background-color: #36c5f0;
}

.icon-num-3 {
    background-color: #ffeb3b;
}

.icon-num-4 {
    background-color: #2eb67d;
}

.dm-member-count {
    font-size: 10px;
}

.dm-link, .friends-link {
    height: 42px;
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.dm-link:hover, .friends-link:hover, .ch-link:hover {
    background-color: #35373c;
    border-radius: 4px;
}

.channel-bar-server-header {
    height: 48px;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.channel-bar-server-name {
    margin-left: 16px;
    font-size: 15px;
    font-weight: 700px;
}

.down-arrow-icon {
    width: 12px;
    height: 12px;
    filter: invert(1);
    margin-right: 16px;
}

.mini-down-arrow-icon {
    width: 6px;
    height: 6px;
    filter: invert(1);
    margin-left: 5px;
    /* margin-right: 16px; */
}

.text-chs-div {
    display: flex;
    margin-right: 8px;
    margin-top: 20px;
    align-items: center;
}

.text-channels-header {
    margin-left: 5px;
}

.ch-link {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.ch-hashtag-div {
    padding-right: 10px;
    font-size: 20px;
} 

.hidden {
    display: none;
}